<h2> Hello! Welcome to Pizzashop </h2>

<div class="row">


<% @products.each do |p| %>
<div class="col-md-3">
  <%= p.title %>
</p>
<% end %>

</div>





<button type="button" class="btn btn-primary btn-lg" onclick="smth()">Click me</button>
